*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
    display: none;
  }

html,
body {
  max-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  letter-spacing: min(0.2vw, 1.5px);
  z-index: 0;
  font-size: min(2.13vw, 16px);
  scroll-behavior: smooth;
  color: #00385c;
  background-color: #00add8;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
